/Makefile

__pycache__/
*.py[cod]

.deps/
.libs/


# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

.dirstamp
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/m4/
/config.guess
/config.sub
/config.status
/config.log
/ltmain.sh
/libtool
/config.h

# contrib stuff
/contrib/config.mk
/contrib/config.site
/contrib/env.sh

# generated headers
include/dwarfpp/dwarf-current-adt.h
include/dwarfpp/dwarf-current-factory.h
include/dwarfpp/dwarf-ext-GNU.h
include/dwarfpp/dwarf-lib.h
include/dwarfpp/dwarf-onlystd-v2.h
include/dwarfpp/dwarf-onlystd.h

# built example programs
examples/core-query
examples/dwarfppdump
examples/print_spec
examples/sranges
examples/subseq

# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.pc

# Dependencies
.*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Backup files
*~
\#*\#
.\#*

# WTF Dropbox

.fuse_hidden*
.nfs*
.dropbox*
