/Makefile

# Python
__pycache__/
*.py[cod]

# libtool
.deps/
.libs/

# http://www.gnu.org/software/automake
Makefile.in

# http://www.gnu.org/software/autoconf
.dirstamp
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/m4/
/config.guess
/config.sub
/config.status
/config.log
/config.mk
/ltmain.sh
/libtool
/include/dwarfpp/config.h

# contrib stuff
/contrib/config.mk
/contrib/config.site
/contrib/env.sh

# generated headers
include/dwarfpp/dwarf-current-adt.h
include/dwarfpp/dwarf-current-factory.h
include/dwarfpp/dwarf-ext-GNU.h
include/dwarfpp/dwarf-lib.h
include/dwarfpp/dwarf-onlystd-v2.h
include/dwarfpp/dwarf-onlystd.h
include/dwarfpp/dwarf-all.h

# built library symlinks
/lib/

# built example programs
examples/core-query
examples/dwarfppdump
examples/print_spec
examples/sranges
examples/subseq
examples/eh-frame-hdr

# built test programs
# Use `git status -s | grep '?? tests' | cut -c 4- >> .gitignore` to add new tests
tests/all-sccs/all-sccs
tests/core-bfs/core-bfs
tests/core-variadic/core-variadic
tests/coretest/coretest
tests/fde-decode/fde-decode
tests/fde-print/fde-print
tests/grandchildren/grandchildren
tests/live-dies/live-dies
tests/make-dies/make-dies
tests/resolve/resolve
tests/siblings-core/siblings-core
tests/timed-dump-core/timed-dump-core
tests/type-equality/type-equality
tests/type-iterators/type-iterators
tests/type-scc/type-scc
tests/visible-named/visible-named

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# pkg-config
*.pc

# Dependencies
.*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
dump-enums

# Backup files
*~
\#*\#
.\#*

# WTF Dropbox
.fuse_hidden*
.nfs*
.dropbox*
